salesforce-integration/src/main/mule/salesforce-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="salesforce-OnNew" doc:id="69df6fcf-9c9c-409d-a5e2-d121c4d9e9c4" >
		<salesforce:new-object-listener doc:name="On New Object" doc:id="4c11ca07-e49b-4749-8bbe-16bd158ddf39" config-ref="Salesforce_Config" objectType="Contact">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</salesforce:new-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="968e7fce-a143-453f-add4-fdd0f02a8934" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
