salesforce-integration/src/main/mule/sf-CreateNew.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sf-CreateNewFlow" doc:id="7f94aa03-cbda-4599-aabc-1a1f3fb39095" >
		<http:listener doc:name="Listener" doc:id="c0d30094-6e78-4cce-b592-92805ce3fdbf" config-ref="HTTP_Listener_config" path="/createobject"/>
		<salesforce:create doc:name="Create" doc:id="3b7aa063-217d-4ecd-a555-68a44866822f" config-ref="Salesforce_Config" type="Contact"/>
		<logger level="INFO" doc:name="Logger" doc:id="27f2650a-5518-42b6-899b-eda63fc45f49" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b82221cb-663d-4351-97b6-14de99f4ba40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
