salesforce-integration/src/main/mule/sf-OnDelete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sf-OnDeleteFlow" doc:id="7a4cbc15-9dc5-4785-b29c-7d404e3a0a47" >
		<salesforce:deleted-object-listener doc:name="On Deleted Object" doc:id="75d061c3-e8fe-4375-bd59-fef485317b7b" config-ref="Salesforce_Config" objectType="Contact">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</salesforce:deleted-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="f8b4f568-e471-47d2-b5ff-0b2a6733f576" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
