salesforce-integration/src/main/mule/sf-Update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sf-UpdateFlow" doc:id="83fc3ef5-99bc-4420-8b00-b3929f015fbe" >
		<http:listener doc:name="Listener" doc:id="0a9c9cc9-cbb6-4799-acba-0ea29ea0dfa5" config-ref="HTTP_Listener_config" path="/update"/>
		<salesforce:update type="Contact" doc:name="Update" doc:id="fecfbf56-ceaa-459f-b3fa-7f47fae8cd2d" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="c5baffae-1219-4d7e-adbd-86a7b659608f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="7872afb7-7d2c-4d50-b625-ccb38231e246" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
